{% extends "_template.html" %}

{% block page_name %} Управление соревнованиями {% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/admin.css">
<script type="module" src="/static/js/admin/check_rights.js"></script>
{% endblock %}

{% block content %}
<ul class="list-group">
    <li class="list-group-item"><a href="/admin/cities">Города</a></li>
    <li class="list-group-item"><a href="/admin/requests">Заявки</a></li>
    <li class="list-group-item"><a href="/admin/tournaments">Соревнования</a></li>
</ul>
{% endblock %}