{% extends "_template.html" %}

{% block page_name %} Вход {% endblock %}

{% block head %}
<script type="module" src="/static/js/log_in.js" defer></script>
{% endblock %}

{% block content %}
<h2 class="text-center py-3">Вход</h2>
<form class="needs-validation" id="login_data" onsubmit="return false;" novalidate>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
            placeholder="Почта">
    </div>
    <div class="mb-3">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password"
            placeholder="Пароль">
    </div>
    <p id="invalid_data" class="text-danger"></p>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
{% endblock %}
