{% extends "default.html" %}

{% block page_name %} Вход {% endblock %}

{% block content %}
<h2 class="text-center py-3">Вход</h2>
<form class="needs-validation" id="login_data" onsubmit="return on_log_in()"
    novalidate>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
            placeholder="Почта">
    </div>
    <div class="mb-3">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password"
            placeholder="Пароль">
    </div>
    <button class="btn btn-primary">Войти</button>
</form>
<script>
    function on_log_in() {
        let form = document.getElementById("login_data");
        fetch("/api/users/log_in", {
            method: "POST",
            body: JSON.stringify({
                email: form.elements['email'].value,
                password: form.elements['password'].value,
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(r => console.log(r))
        return false;
    }
</script>
{% endblock %}