{% extends "default.html" %}

{% block page_name %} Главная {% endblock %}

{% block content %}
<h2 class="text-center py-3">Соревнование</h2>
<table class="table table-bordered">
    <tr>
        <th class="col"></th>
        <th class="col table-primary">1</th>
        <th class="col table-primary">2</th>
        <th class="col table-primary">3</th>
        <th class="col table-primary">4</th>
    </tr>
    <tr>
        <th class="col table-primary">1</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
    </tr>
    <tr>
        <th class="col table-primary">2</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
    </tr>
    <tr>
        <th class="col table-primary">3</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
    </tr>
    <tr>
        <th class="col table-primary">4</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
        <td class="col">x</th>
    </tr>
</table>
<h2 class="text-center py-3">Матчи сейчас</h2>
<div class="card-container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">№1 - №2</h5>
            <p class="card-text">Время начала: 18:32</p>
            <p class="card-text">Счет: 1-1</p>
        </div>
    </div>
</div>
{% endblock %}