{% extends "_template.html" %}

{% block page_name %} Регистрация {% endblock %}

{% block head %}
<script type="module" src="/static/js/register.js"></script>
{% endblock %}

{% block content %}
<h2 class="text-center py-3">Регистрация</h2>
<form class="needs-validation" id="register_data" onsubmit="return false;"
    novalidate>
    <div class="mb-3">
        <label for="fio">ФИО</label>
        <input type="text" class="form-control" id="fio"
            placeholder="Иванов Иванов Иванович">
    </div>
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email"
            placeholder="Почта">
    </div>
    <div class="mb-3">
        <label for="user_type">Выберите, кто вы:</label><br>
        <select class="form-control" id="user_type" name="user_type">
            <option selected disabled hidden>...</option>
            <option value="ADMIN">Администратор</option>
            <option value="JUDGE">Судья</option>
            <option value="ATHLETE">Спортсмен</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="city_id">Город:</label><br>
        <select class="form-control" id="city_id" name="city_id">
            <option selected disabled hidden>...</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password"
            placeholder="Пароль">
    </div>
    <p id="invalid_data" class="text-danger"></p>
    <button type="submit" class="btn btn-primary">Зарегестрироваться</button>
</form>
{% endblock %}